/* language=JavaFX CSS */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Core Mellow";
    src: url("../fonts/Core-Mellow-Regular.otf");
}

@font-face {
    font-family: "Core Mellow Bold";
    src: url("../fonts/Core-Mellow-Bold.otf");
}

@font-face {
    font-family: "Product Sans";
    src: url("../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: "Product Sans Bold";
    src: url("../fonts/Product-Sans-Bold.ttf");
}


.anchorLateral {
    -fx-background-color: linear-gradient(to left, #026ab1, #037fad, #018ea9,#009aa6);
}

.FondoLogoUnap{
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}

.BotonPanelLateral{
    -fx-background-color: linear-gradient(to left, #026ab1, #037fad, #018ea9,#009aa6);
}

.BotonPanelLateral:hover{
    -fx-background-color: #2596be;
    -fx-cursor:hand;
}

.BotonPanelLateral.activo {
    -fx-background-color: #ffffff;
    -fx-text-fill:#2596be;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.PanelCredencial{
    -fx-border-color: #062040;
    -fx-background-color: rgba(255, 255, 255, 0.57);
    -fx-border-radius: 8;
}

.BotonCerrarSesion{
    -fx-background:none;
    -fx-border-style: none;
    -fx-text-fill:#062040;
}

.BotonCerrarSesion:hover{
    -fx-background:none;
    -fx-border-style: none;
    -fx-text-fill:black;
    -fx-underline: true;
    -fx-cursor: hand;
}

.ContentArea{
    -fx-background-color: white;
}