/* language=JavaFX CSS */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Core Mellow";
    src: url("../fonts/Core-Mellow-Regular.otf");
}

@font-face {
    font-family: "Core Mellow Bold";
    src: url("../fonts/Core-Mellow-Bold.otf");
}

@font-face {
    font-family: "Product Sans";
    src: url("../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: "Product Sans Bold";
    src: url("../fonts/Product-Sans-Bold.ttf");
}


.anchorLateral {
    -fx-background-color: #062040;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.FondoLogoUnap{
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-border-radius: 5;
}

.BotonPanelLateral{
   -fx-background-color: #062040;
}

.BotonPanelLateral:hover{
    -fx-background-color: #283d57;
    -fx-cursor:hand;
}

.BotonPanelLateral.activo {
    -fx-background-color: #8ba2bf;
    -fx-text-fill:#062040;
}

.PanelCredencial{
    -fx-border-color: #062040;
    -fx-background-color: white;
    -fx-border-radius: 8;
}

.BotonCerrarSesion{
    -fx-background:none;
    -fx-border-style: none;
    -fx-text-fill:#062040;
}

.BotonCerrarSesion:hover{
    -fx-background:none;
    -fx-border-style: none;
    -fx-text-fill:black;
    -fx-underline: true;
    -fx-cursor: hand;
}