/* language=JavaFX CSS */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Core Mellow";
    src: url("../fonts/Core-Mellow-Regular.otf");
}

@font-face {
    font-family: "Core Mellow Bold";
    src: url("../fonts/Core-Mellow-Bold.otf");
}

@font-face {
    font-family: "Product Sans";
    src: url("../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: "Product Sans Bold";
    src: url("../fonts/Product-Sans-Bold.ttf");
}


.panelLateral{
    -fx-background-color: white;

}

.field {
    -fx-background-color: #f2f4f5;
    -fx-border-color: #f7f9fa;
    -fx-border-radius: 5;
}

.field:focused {
    -fx-border-color: #85cef3;
}


.IniciarSesionBtn {
    -fx-background-color: linear-gradient(to left, #026ab1, #037fad, #018ea9,#009aa6);

    -fx-text-fill: white;
    -fx-border-radius: 40px;
}

.IniciarSesionBtn:hover{
    -fx-background-color: #41bec7;
    -fx-text-fill: white;
    -fx-cursor: hand;
}