/* language=JavaFX CSS */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Core Mellow";
    src: url("../fonts/Core-Mellow-Regular.otf");
}

@font-face {
    font-family: "Core Mellow Bold";
    src: url("../fonts/Core-Mellow-Bold.otf");
}

@font-face {
    font-family: "Product Sans";
    src: url("../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: "Product Sans Bold";
    src: url("../fonts/Product-Sans-Bold.ttf");
}

.BarraBusqueda{
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: #e8e8e8;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-prompt-text-fill: #9ea7b3;
    -fx-text-fill: #1b1f23;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.15), 8, 0.2, 0, 1);
}

.BarraBusqueda:hover{
    -fx-border-color: #00bcd4;


}

.BarraBusqueda:focused{
        -fx-border-color: #00999e;
        -fx-background-color: white;
}

.BotonCrearUsuario{
    -fx-background-color: #018ea9;
    -fx-font: 16px "Product Sans Bold";
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(44, 44, 44, 0.35), 8, 0.2, 0, 1);

}

.BotonCrearUsuario:hover{
    -fx-background-color: #017a91;
    -fx-text-fill: white;
    -fx-cursor: hand;

}


.btnFiltro{
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.15), 8, 0.2, 0, 1);
    -fx-border-style: none;
}
.btnFiltro .label{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.15), 8, 0.2, 0, 1);
    -fx-border-style: none;
}


.btnFiltro .arrow-button{
    -fx-background-color: linear-gradient(to bottom,#018ea9, #018ea9);
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.15), 8, 0.2, 0, 1);
}

.btnFiltro .arrow {
    -fx-background-color: white;
}

.filtro .label{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.filtro .label:hover{
    -fx-background-color: #4793ad;
    -fx-text-fill: black;
}


.btnFiltro.activo .label, .btnFiltro.activo .arrow-button {
    -fx-font: 14px "Product Sans Bold";
    -fx-background-color: linear-gradient(to bottom, #018ea9,#018ea9);
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-transition: all 0.2s ease-in-out;
}



.btnFiltro.activo .label:hover, .btnFiltro.activo .arrow-button:hover{
    -fx-background-color: #017a91;
    -fx-text-fill: white;
    -fx-cursor: hand;
}



.habilitado{
    -fx-background-color: #c8ffb5;
    -fx-text-fill: #5fc20d;
    -fx-text-alignment: center;
    -fx-text-origin: center;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}

.deshabilitado{
    -fx-background-color: #ff9d9d;
    -fx-text-fill: #ff3f3d;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-origin: center;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}

.botonAccion{
    -fx-background-color: #ffffff;
    -fx-border-color: #c9c9c9;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.15), 8, 0.2, 0, 1);
    -fx-font-weight: 600;
    -fx-text-fill: #424242;
}

.botonAccion:hover{
    -fx-cursor: hand;
    -fx-background-color: rgba(0, 156, 185, 0.52);
    -fx-text-fill:white;
}