/* language=JavaFX CSS */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Core Mellow";
    src: url("../fonts/Core-Mellow-Regular.otf");
}

@font-face {
    font-family: "Core Mellow Bold";
    src: url("../fonts/Core-Mellow-Bold.otf");
}

@font-face {
    font-family: "Product Sans";
    src: url("../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: "Product Sans Bold";
    src: url("../fonts/Product-Sans-Bold.ttf");
}


.panelGrid{
    -fx-background-color: white;
    -fx-border-color: #d2d2d2;
    -fx-border-radius: 10;
}