/* language=JavaFX CSS */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Core Mellow";
    src: url("../fonts/Core-Mellow-Regular.otf");
}

@font-face {
    font-family: "Core Mellow Bold";
    src: url("../fonts/Core-Mellow-Bold.otf");
}

@font-face {
    font-family: "Product Sans";
    src: url("../fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: "Product Sans Bold";
    src: url("../fonts/Product-Sans-Bold.ttf");
}


.panelGrid{
    -fx-background-color: rgba(199, 199, 199, 0.1);
    -fx-border-color: #d2d2d2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 10, 0.1, 2, 2);
}




.fondo-banner{
    /*-fx-background-color: linear-gradient(to left, #026ab1, #037fad, #018ea9,#009aa6);*/
    -fx-background-color: #009aa6;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.15), 8, 0.2, 0, 1);
}


.panelAlertas{
    -fx-background-color: linear-gradient(to left, #026ab1, #037fad, #018ea9,#009aa6);
    -fx-border-color: rgba(171, 172, 183, 0.49);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 10, 0.1, 2, 2);

}

.panelAlertaTitulo{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 10, 0.1, 2, 2);
}

.pantallaCarga{
    -fx-background-color: linear-gradient(to left, #026ab1, #037fad, #018ea9,#009aa6);
}

.progress-indicator {
    -fx-min-width: 60;
    -fx-min-height: 60;
    -fx-pref-width: 60;
    -fx-pref-height: 60;
}

.progress-indicator .indicator {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 50;
    -fx-padding: 10;
}

.progress-indicator .arc {
    -fx-stroke: #00c8ff;      /* color del borde animado */
    -fx-stroke-width: 4;
    -fx-stroke-cap: round;
}

.progress-indicator .spinner {
    -fx-padding: 0;
}

.progress-indicator .percentage {
    -fx-fill: white;
}